.title-center {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -400px;
  margin-left: 190px;
}

/* .center {
  position: absolute;
  top: 15%;
  left: 15%;
} */

.project-title {
  font-size: 32px;
}

.content {
  display: flex;
  margin-top: 10px;
}

.top {
  margin-top: 20px;
}

.submit, .download {
  margin-top: 44px;
}

.ivu-form .ivu-form-item-label {
  padding: 10px 6px 10px 0;
}